.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #044f48, #5f9183);
}

.App {
  left: 50%;
  position: absolute;
  top: 20%;
  transform: translate(-50%, -50%);
  height: 40vh;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #181a1a, #4c4477);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 400px;
  text-align: center;
  margin-top: 40px;
  background-color: rgb(187, 168, 162);
  position: absolute; 
  top: 30%;
  bottom: 0;
  overflow: hidden;
  height: 368px;
}
/* ::-webkit-scrollbar { */
  /* width: 0; */
/* } */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.3;
}

button {
  color: #fff;
  border: none;
  background: #248a52;
  font-size: 10px;
  height: 23px;
  text-transform: uppercase;
  padding: 15px 10px;
  border-bottom-right-radius: 10px;
  /* border-top-right-radius: 10px; */
  vertical-align: middle;
}

.control {
  position: absolute;
  bottom: 0;
  right: 0;
  /* padding: 10px; */
}

input {
  color: rgba(211, 190, 190, 0.7);
  font-size: 15px;
  height: 23px;
  width: 313px;
  border: none;
  outline: none;
  vertical-align: middle;
  padding: 3px;
  /* border-bottom-left-radius: 10px; */
  /* border-top-left-radius: 10px; */
}

.left {
  float: left;
  padding: 6px 10px 7px;
  border-radius: 10px 10px 10px 0;
  background: rgba(253, 234, 234, 0.7);
  margin: 8px 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
  margin-left: 15px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 300px;
}

.right {
  float: right;
  padding: 6px 10px 7px;
  border-radius: 10px 10px 0px 10px;
  background: rgba(183, 223, 161, 0.7);
  margin: 8px 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
  margin-left: 15px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 300px;
  margin-left: 65px;
}
